<h1>{{topic}} by: {{user.name}}</h1>
<p>{{post}}</p>
<p>Posted on: {{date_created}}</p>

<h3>Comments</h3>
<p>{{text}}</p>
<form action="">
    <textarea id="comment" placeholder="add a comment"></textarea>
    <button>Post</button>
</form>

<script src="./js/post.js"> </script>